XML/ServiceSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="service" type="serviceType">
		<xs:annotation>
			<xs:documentation>Последовательность службы</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="serviceType">
		<xs:sequence>
			<xs:element name="ektenis" ></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
