XML/Rules/RulesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by imtim (imtim company) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="rule" type="executableType"/>
	<xs:complexType name="switchType">
		<xs:sequence>
			<xs:element name="expression" type="valueType"/>
			<xs:element name="case" type="caseType" maxOccurs="unbounded"/>
			<xs:element name="default" type="executableType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="daysfromeasterType">
		<xs:choice>
			<xs:element ref="date" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="datebydaysfromeaster" type="intOutputType"/>
	<xs:element name="getclosestday" type="getClosestDayType"/>
	
	<xs:complexType name="valueType">
		<xs:choice>
			<xs:element name="daysfromeaster" type="daysfromeasterType" minOccurs="0"/>
			<xs:element ref="date" minOccurs="0"/>
			<xs:element name="int" type="xs:int" minOccurs="0"/>
			<xs:element name="getclosestday" type="getClosestDayType" minOccurs="0"/>
			<xs:element name="getdayofweek" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="getdayofweekType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="getdayofweekType">
		<xs:sequence>
			<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="getclosestday" type="getClosestDayType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="понедельник"/>
					<xs:enumeration value="вторник"/>
					<xs:enumeration value="среда"/>
					<xs:enumeration value="четверг"/>
					<xs:enumeration value="пятница"/>
					<xs:enumeration value="суббота"/>
					<xs:enumeration value="воскресенье"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="valuesType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="daysfromeaster" type="daysfromeasterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="date" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="int" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="getclosestday" type="getClosestDayType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="getdayofweek" type="getdayofweekType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="datebydaysfromeaster" type="intOutputType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="caseType">
		<xs:sequence>
			<xs:element name="values" type="valuesType"/>
			<xs:element name="action" type="executableType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="executableType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="switch" type="switchType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="worship" type="worshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="notice" type="noticeType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="if" type="ifType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="kekragaria" type="kekragariaType" minOccurs="0"/>
			<xs:element name="ymnosrule" type="ymnosruleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="theotokionapprule" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="theotokionappruleType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="mikrosesperinos" type="executableType" minOccurs="0"/>
			<xs:element name="megalisesperinos" type="executableType" minOccurs="0"/>
			<xs:element name="esperinos" type="executableType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mikrosapodipno" type="executableType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="megalisapodipno" type="executableType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mesoniktiko" type="executableType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="orthros" type="executableType" minOccurs="0"/>
			<xs:element name="aposticha" type="executableType" minOccurs="0"/>
			<xs:element name="text" type="choirType" minOccurs="0"/>
			<xs:element name="choir" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lector" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="deacon" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priest" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ektenis" type="ektenisType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="commonrule" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="troparion" type="executableType" minOccurs="0"/>
			<xs:element name="sedalen" type="executableType" minOccurs="0"/>
			<xs:element name="kanonasrule" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="executableType">
							<xs:attribute name="isorthros" type="xs:boolean"/>
							<xs:attribute name="asaddition">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="none"/>
										<xs:enumeration value="append"/>
										<xs:enumeration value="rewrite"/>
										<xs:enumeration value="remove"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="k_kanonas" type="kanonasType" minOccurs="0" maxOccurs="3"/>
			<xs:element name="kontakionrule" type="kontakionruleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="k_katavasia" type="k_katavasiaType" minOccurs="0"/>
			<xs:element name="k_after" minOccurs="0" maxOccurs="9">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="executableType">
							<xs:attribute name="number" type="xs:int" use="required"/>
							<xs:attribute name="asaddition">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="none"/>
										<xs:enumeration value="append"/>
										<xs:enumeration value="rewrite"/>
										<xs:enumeration value="remove"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="psalm" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="number" type="xs:int" use="required">
						<xs:annotation>
							<xs:documentation>ссылка на Псалом</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="start" type="xs:int">
						<xs:annotation>
							<xs:documentation>начальный стих</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="end" type="xs:int">
						<xs:annotation>
							<xs:documentation>конечный стих</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="k_odi" minOccurs="0" maxOccurs="9">
				<xs:annotation>
					<xs:documentation>Описание последовательности для песни кастомного канона</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="executableType">
							<xs:attribute name="number" type="xs:int" use="optional"/>
							<xs:attribute name="asaddition">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="none"/>
										<xs:enumeration value="append"/>
										<xs:enumeration value="rewrite"/>
										<xs:enumeration value="remove"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ymnoscustomrule" type="ymnoscustomruleType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="exapostilarionrule" type="executableType" minOccurs="0"/>
			<xs:element name="exap_item" type="exap_itemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exap_itemType">
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="oktoikh"/>
					<xs:enumeration value="item1"/>
					<xs:enumeration value="item2"/>
					<xs:enumeration value="item3"/>
					<xs:enumeration value="weekday"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="place" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="exap1"/>
					<xs:enumeration value="exap2"/>
					<xs:enumeration value="theotokion"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kind" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="exap"/>
					<xs:enumeration value="theotokion"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="count" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="theotokionappruleType">
		<xs:all>
			<xs:element name="ymnosrule" type="ymnosruleType" minOccurs="0" maxOccurs="1"/>
		</xs:all>
		<xs:attribute name="place" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="app1_kekragaria"/>
					<xs:enumeration value="app1_aposticha"/>
					<xs:enumeration value="app2_esperinos"/>
					<xs:enumeration value="app2_orthros"/>
					<xs:enumeration value="app3"/>
					<xs:enumeration value="app4_esperinos"/>
					<xs:enumeration value="app4_orthros"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ymnoscustomruleType">
		<xs:choice>
			<xs:element name="group" type="groupType" minOccurs="0"/>
			<xs:element name="doxastichon" type="groupType" minOccurs="0"/>
			<xs:element name="theotokion" type="groupType" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="groupType">
		<xs:sequence>
			<xs:element name="prosomoion" minOccurs="0">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="textType">
							<xs:attribute name="self" type="xs:boolean" use="required"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="annotation" type="textType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ymnos" type="ymnosType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ihos" type="xs:byte" use="required"/>
		<xs:attribute name="kind">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="stavros"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ymnosType">
		<xs:sequence>
			<xs:element name="annotation" type="textType" minOccurs="0"/>
			<xs:element name="stihos" type="textType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="textType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="kind">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="theotokion"/>
					<xs:enumeration value="triadiko"/>
					<xs:enumeration value="martyrion"/>
					<xs:enumeration value="ierarhon"/>
					<xs:enumeration value="osion"/>
					<xs:enumeration value="nekrosimo"/>
					<xs:enumeration value="irmos"/>
					<xs:enumeration value="katavasia"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="worshipType">
		<xs:sequence>
			<xs:element name="name" type="textType" minOccurs="0"/>
			<xs:element name="additionalname" type="textType" minOccurs="0"/>
			<xs:element name="sequence" type="executableType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string"/>
		<xs:attribute name="time" type="xs:string" use="optional"/>
		<xs:attribute name="timestyle" type="xs:string" use="optional"/>
		<xs:attribute name="namestyle" type="xs:string" use="optional"/>
		<xs:attribute name="isdaybefore" type="xs:boolean" use="optional" default="false"/>
		<xs:attribute name="asaddition">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="none"/>
					<xs:enumeration value="append"/>
					<xs:enumeration value="rewrite"/>
					<xs:enumeration value="remove"/>
					<xs:enumeration value="rewritevalues"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="kanonasruleType">
		<xs:complexContent>
			<xs:extension base="executableType">
				<xs:attribute name="bibleodes" type="xs:string">
					<xs:annotation>
						<xs:documentation>Определение варианта библейских песен, используемых в каноне</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="totalcount" type="xs:int">
					<xs:annotation>
						<xs:documentation>Общее количество песнопений (ограничение). Если значение totalcount отличается от суммы дочерних элементов, происходит их индексация</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="isorthros" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Если true, добавляет в 8-й песне вместо «Слава» - «Благословим», а затем перед катавасией – «Хвалим, благословим…»</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kanonasType">
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="oktoikh"/>
					<xs:enumeration value="item1"/>
					<xs:enumeration value="item2"/>
					<xs:enumeration value="item3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kanonas" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="apodipno"/>
					<xs:enumeration value="mesoniktiko"/>
					<xs:enumeration value="orthros1"/>
					<xs:enumeration value="orthros2"/>
					<xs:enumeration value="orthros3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="count" type="xs:int" use="required"/>
		<xs:attribute name="martyrion" type="xs:boolean" default="true">
			<xs:annotation>
				<xs:documentation>использовать ли мученичны</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="irmoscount" type="xs:int" default="0">
			<xs:annotation>
				<xs:documentation>Количество ирмосов,включаемых в общий спиок</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="kontakionruleType">
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="oktoikh"/>
					<xs:enumeration value="item1"/>
					<xs:enumeration value="item2"/>
					<xs:enumeration value="item3"/>
					<xs:enumeration value="weekday"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="place" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="orthros1"/>
					<xs:enumeration value="orthros2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kind">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ymnos"/>
					<xs:enumeration value="doxastichon"/>
					<xs:enumeration value="theotokion"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="showikos" type="xs:boolean" default="false"/>
	</xs:complexType>
	<xs:complexType name="k_katavasiaType">
		<xs:attribute name="source" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="oktoikh"/>
					<xs:enumeration value="item1"/>
					<xs:enumeration value="item2"/>
					<xs:enumeration value="item3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="kanonas" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="apodipno"/>
					<xs:enumeration value="mesoniktiko"/>
					<xs:enumeration value="orthros1"/>
					<xs:enumeration value="orthros2"/>
					<xs:enumeration value="orthros3"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="choirType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="p" type="textNotedType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="psalm" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="number" type="xs:int" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="mark">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="priest_prayers"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="textType">
		<xs:sequence>
			<xs:element name="item" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="language">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="cs-ru"/>
										<xs:enumeration value="cs-cs"/>
										<xs:enumeration value="ru-ru"/>
										<xs:enumeration value="el-el"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="bold" type="xs:boolean" use="optional"/>
		<xs:attribute name="red" type="xs:boolean" use="optional"/>
		<xs:attribute name="italic" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="textHeaderType">
		<xs:complexContent>
			<xs:extension base="textType">
				<xs:attribute name="header" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="h1"/>
							<xs:enumeration value="h2"/>
							<xs:enumeration value="h3"/>
							<xs:enumeration value="h4"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="textNotedType">
		<xs:complexContent>
			<xs:extension base="textHeaderType">
				<xs:sequence>
					<xs:element name="note" type="textType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание. Например, "трижды"</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="kekragariaType">
		<xs:complexContent>
			<xs:extension base="executableType">
				<xs:attribute name="showpsalm" type="xs:boolean"/>
				<xs:attribute name="totalcount" type="xs:int" use="optional"/>
				<xs:attribute name="rewrite" type="xs:boolean" default="false"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ymnosruleType">
		<xs:attribute name="kind" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ymnos"/>
					<xs:enumeration value="doxastichon"/>
					<xs:enumeration value="theotokion"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="source" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="oktoikh"/>
					<xs:enumeration value="item1"/>
					<xs:enumeration value="item2"/>
					<xs:enumeration value="item3"/>
					<xs:enumeration value="weekday"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="place">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="kekragaria"/>
					<xs:enumeration value="liti"/>
					<xs:enumeration value="aposticha_esperinos"/>
					<xs:enumeration value="aposticha_orthros"/>
					<xs:enumeration value="ainoi"/>
					<xs:enumeration value="kekragaria_doxastichon"/>
					<xs:enumeration value="liti_doxastichon"/>
					<xs:enumeration value="aposticha_esperinos_doxastichon"/>
					<xs:enumeration value="aposticha_orthros_doxastichon"/>
					<xs:enumeration value="ainoi_doxastichon"/>
					<xs:enumeration value="kekragaria_theotokion"/>
					<xs:enumeration value="kekragaria_stavrostheotokion"/>
					<xs:enumeration value="liti_theotokion"/>
					<xs:enumeration value="aposticha_esperinos_theotokion"/>
					<xs:enumeration value="aposticha_orthros_theotokion"/>
					<xs:enumeration value="ainoi_theotokion"/>
					<xs:enumeration value="troparion"/>
					<xs:enumeration value="troparion_theotokion"/>
					<xs:enumeration value="sedalen1"/>
					<xs:enumeration value="sedalen1_doxastichon"/>
					<xs:enumeration value="sedalen1_theotokion"/>
					<xs:enumeration value="sedalen2"/>
					<xs:enumeration value="sedalen2_doxastichon"/>
					<xs:enumeration value="sedalen2_theotokion"/>
					<xs:enumeration value="sedalen3"/>
					<xs:enumeration value="sedalen3_doxastichon"/>
					<xs:enumeration value="sedalen3_theotokion"/>
					<xs:enumeration value="sedalen_kanonas"/>
					<xs:enumeration value="sedalen_kanonas_doxastichon"/>
					<xs:enumeration value="sedalen_kanonas_theotokion"/>
					<xs:enumeration value="sedalen_kanonas_stavrostheotokion"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="count" type="xs:byte" use="optional" default="1"/>
		<xs:attribute name="startfrom" type="xs:byte"/>
	</xs:complexType>
	<xs:complexType name="ifType">
		<xs:sequence>
			<xs:element name="expression" type="booleanType"/>
			<xs:element name="then" type="executableType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="else" type="executableType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="booleanType">
		<xs:choice>
			<xs:group ref="booleanGroup"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="logicalType">
		<xs:sequence maxOccurs="unbounded">
			<xs:group ref="booleanGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="booleanGroup">
		<xs:sequence>
			<xs:element name="equals" type="valuesType" minOccurs="0"/>
			<xs:element name="more" type="valuesType" minOccurs="0"/>
			<xs:element name="moreequals" type="valuesType" minOccurs="0"/>
			<xs:element name="less" type="valuesType" minOccurs="0"/>
			<xs:element name="lessequals" type="valuesType" minOccurs="0"/>
			<xs:element name="and" type="logicalType" minOccurs="0"/>
			<xs:element name="or" type="logicalType" minOccurs="0"/>
			<xs:element name="iscelebrating" minOccurs="0"/>
			<xs:element name="istwosaints" minOccurs="0"/>
			<xs:element name="exists" minOccurs="0">
				<xs:complexType>
					<xs:choice>
						<xs:element name="ymnosrule" type="ymnosruleType"/>
						<xs:element name="kanonas" type="kanonasType"/>
						<xs:element name="kontakionrule" type="kontakionruleType"/>
						<xs:element name="exap_item" type="exap_itemType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="getClosestDayType">
		<xs:choice>
			<xs:element ref="date" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="dayofweek" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="понедельник"/>
					<xs:enumeration value="вторник"/>
					<xs:enumeration value="среда"/>
					<xs:enumeration value="четверг"/>
					<xs:enumeration value="пятница"/>
					<xs:enumeration value="суббота"/>
					<xs:enumeration value="воскресенье"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="weekcount" type="xs:byte" use="required"/>
	</xs:complexType>
	<xs:element name="date" type="xs:string"/>
	<!--xs:element name="date" type="xs:gMonthDay"/-->
	<xs:element name="daysfromeaster" type="daysfromeasterType"/>
	<xs:element name="int" type="xs:int"/>
	<xs:element name="equals">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="noticeType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="name" type="textType" minOccurs="1"/>
			<xs:element name="additionalname" type="textType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="time" type="xs:string" use="optional"/>
		<xs:attribute name="timestyle" type="xs:string" use="optional"/>
		<xs:attribute name="namestyle" type="xs:string" use="optional"/>
		<xs:attribute name="isdaybefore" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="intOutputType">
		<xs:choice>
			<xs:element ref="daysfromeaster" minOccurs="0"/>
			<xs:element ref="int" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ektenisType">
		<xs:sequence maxOccurs="unbounded">
			<xs:element name="switch" type="switchType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="if" type="ifType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="choir" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="lector" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="priest" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="deacon" type="choirType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="text" type="choirType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
